body {
    font-family: 'Kurale', serif;
    font-size: 25px;
    background: #e6e6ff;
}

h1 {
    margin: 0;
}

p {
    margin: 15px;
}

#header {
    margin-bottom: 10px;
    margin-top: 60px; /* Add a top margin to avoid content overlay */
    font-size: 35px;
    text-align: center;
}

footer {
    font-size: 15px;
    text-align: right;
    position: fixed; /* Set the footer to fixed position */
    bottom: 10px; /* Position the footer at the bottom of the page */
    width: 99%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main {
    display: block;
    margin-top: 60px; /* Add a top margin to avoid content overlay with navbar */
    margin-bottom: 60px;
    width: 100%;
}

#board {
    min-width: 40rem;
    position: relative;
}

#captured-pieces {
    position: relative;
}

#moves {
    min-width: 20rem;
    position: relative;
}

#moves-buttons {
    justify-content: left;
    align-items: stretch;
    flex-direction: row;
    position: relative;
}

#chat{
    min-width: 20rem;
    position: relative;
}

#login-form{
    position: relative;
}

#field-captured {
    position: relative;
    height: 3.5rem;
}

.captured{
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
}

.field {
    position: relative;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    vertical-align: top;
    color: #00cc00;
    font-size: 25px;
    padding: 0.2rem;
}

.row{
    box-shadow: 8px 8px 26px 0 rgba(46, 61, 73, 0.5);
}

.bg-black {
    background-color: rgb(42, 87, 130);
}

.bg-white {
    background-color: #ffffff;
}

.first-row {
    position: absolute;
    bottom: 0;
    right: 0.2rem;
}

.first-column {
    position: absolute;
    top: 0;
    left: 0.2rem;
}

.piece{
    position: absolute;
    width: inherit;
    height: inherit;

}

.clicked{
    background-color:red;
}

.piece:hover{
    opacity: 0.5;
}

.pawn.white{
    background: url(../images/w_pawn.png);
}

.pawn.black{
    background: url(../images/b_pawn.png);
}

.bishop.white {
    background: url(../images/w_bishop.png);
}

.bishop.black{
    background: url(../images/b_bishop.png);
}

.knight.white{
    background: url(../images/w_knight.png);
}

.knight.black{
    background: url(../images/b_knight.png);
}

.queen.white{
    background: url(../images/w_queen.png);
}

.queen.black{
    background: url(../images/b_queen.png);
}

.king.white{
    background: url(../images/w_king.png);
}

.king.black{
    background: url(../images/b_king.png);
}

.rook.white{
    background: url(../images/w_rook.png);
}

.rook.black{
    background: url(../images/b_rook.png);
}

#chat-history{
    display: inline-block;
    list-style-type: none;
}

#chat-input{
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

#show-turn{
    margin: 0;
    display: inline-block;
}

.button{
    font-size: 25px;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

.not-clickable {
    /* disable all mouse events */
    pointer-events: none;
}

.not-my-color {
    /* disable all mouse events */
    pointer-events: none;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 8px 8px 26px 0 rgba(46, 61, 73, 0.5);
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#show-saved-games{
}

/* Styles for game over popup */
#popup-loose {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0,0,0,.2);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    transition: all .5s ease-in;
}

#popup-loose h1 {
    font-weight: 400;
}

#popup-box-loose {
    position: relative;
    width: 400px;
    height: 150px;
    padding: 15px;

    background: #ccccff;

    border-radius: 15px;
    box-shadow: 0 2px 2px #333;
    transition: all .5s ease-in;
}

/**
 * Styles to hide the popup box
 */
#popup-loose.hide {
    visibility: hidden;
}
#popup-loose.hide #popup-box-loose{
    margin-top: -1000px;
}

/* Styles for game over popup */
#popup-win {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0,0,0,.2);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    transition: all .5s ease-in;
}

#popup-win h1 {
    font-weight: 400;
}

#popup-box-win {
    position: relative;
    width: 400px;
    height: 150px;
    padding: 15px;

    background: #b3b3ff;

    border-radius: 15px;
    box-shadow: 0 2px 2px #333;
    transition: all .5s ease-in;
}

/**
 * Styles to hide the popup box
 */
#popup-win.hide {
    visibility: hidden;
}
#popup-win.hide #popup-box-win{
    margin-top: -1000px;
}

#popup-choose {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0,0,0,.2);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    transition: all .5s ease-in;
}

#popup-choose h1 {
    font-weight: 400;
}

#popup-box-choose {
    position: relative;
    width: 400px;
    height: 300px;
    padding: 15px;

    background: #b3b3ff;

    border-radius: 15px;
    box-shadow: 0 2px 2px #333;
    transition: all .5s ease-in;
}

#popup-choose.hide {
    visibility: hidden;
}
#popup-choose.hide #popup-box-choose{
    margin-top: -1000px;
}

#load-game-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0,0,0,.2);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    transition: all .5s ease-in;
}

#load-game-panel h1 {
    font-weight: 400;
}

#load-game-panel-box {
    position: relative;
    width: 400px;
    height: 300px;
    padding: 15px;

    background: #b3b3ff;

    border-radius: 15px;
    box-shadow: 0 2px 2px #333;
    transition: all .5s ease-in;
}

#load-game-panel.hide {
    visibility: hidden;
}
#load-game-panel.hide #load-game-panel-box{
    margin-top: -1000px;
}

#login {
    position:fixed;
    padding:50px;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: #e6e6ff;
}

.login {
    display: block;
}

#login.hide {
    visibility: hidden;
}