body {
    font-family: 'Kurale', serif;
    font-size: 25px;
    background: #e6e6ff;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

#header {
    margin: 5px;
    font-size: 35px;
    text-align: center;
}

#footer {
    font-size: 15px;
    text-align: right;
    bottom: 0;
    padding: 10px;
    margin: 10px;
    width: 95%;
    position: absolute;
}

#username-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main {
    width: 100%;
}

#board {
    min-width: 40rem;
    position: relative;
}

#captured-pieces {
    position: relative;
}

#moves {
    min-width: 20rem;
    position: relative;
}

#moves-buttons {
    justify-content: left;
    align-items: stretch;
    flex-direction: row;
    position: relative;
}

#chat{
    min-width: 20rem;
    position: relative;
}

#login-form{
    position: relative;
}

.field-captured {
    position: relative;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    vertical-align: top;
    padding: 0.2rem;
}

.field {
    position: relative;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    vertical-align: top;
    color: #00cc00;
    font-size: 25px;
    padding: 0.2rem;
}

.row{
    box-shadow: 8px 8px 26px 0 rgba(46, 61, 73, 0.5);
}

.bg-black {
    background-color: rgb(42, 87, 130);
}

.bg-white {
    background-color: #ffffff;
}

.first-row {
    position: absolute;
    bottom: 0;
    right: 0.2rem;
}

.first-column {
    position: absolute;
    top: 0;
    left: 0.2rem;
}

.piece{
    position: absolute;
    width: inherit;
    height: inherit;
}

.clicked{
    background-color:red;
}

.piece:hover{
    opacity: 0.5;
}

.pawn.white{
    background: url(../images/w_pawn.png);
}

.pawn.black{
    background: url(../images/b_pawn.png);
}

.bishop.white {
    background: url(../images/w_bishop.png);
}

.bishop.black{
    background: url(../images/b_bishop.png);
}

.knight.white{
    background: url(../images/w_knight.png);
}

.knight.black{
    background: url(../images/b_knight.png);
}

.queen.white{
    background: url(../images/w_queen.png);
}

.queen.black{
    background: url(../images/b_queen.png);
}

.king.white{
    background: url(../images/w_king.png);
}

.king.black{
    background: url(../images/b_king.png);
}

.rook.white{
    background: url(../images/w_rook.png);
}

.rook.black{
    background: url(../images/b_rook.png);
}

#chat-history{
    display: inline-block;
    list-style-type: none;
}

#chat-input{
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

#show-turn{
    margin-top: 0px;
    display: inline-block;
    list-style-type: none;
}

.button{
    font-size: 25px;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

.not-clickable {
    /* disable all mouse events */
    pointer-events: none;
}

.not-my-color {
    /* disable all mouse events */
    pointer-events: none;
}